<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head_metas %}{% endblock %}

    <title>{% block title %}{% endblock %} &bullet; Git Trumpet</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/1.7.22/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">

    {% block stylesheets %}{% endblock %}
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <header>
                <h1>Git Trumpet &#127930;</h1>
                <p class="subtitle"><i class="mdi mdi-music-note"></i> PRRRFT PRFFT PFRRRT PRFFFT <i class="mdi mdi-music-note"></i></p>
            </header>

            <div class="content-wrap">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <div class="menu">
                        <div class="container-fluid">
                            <div class="logged-in-user pull-right">
                                <img src="https://github.com/{{ app.user.username }}.png?size=40" />

                                {{ app.user.realname }}

                                <a href="{{ path('fos_user_security_logout') }}">
                                    <i class="mdi mdi-logout-variant"></i>
                                </a>
                            </div>

                            <h2>{{ block('title') }}</h2>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div class="container-fluid">
                        {% for type, messages in app.session.flashBag.all %}
                            {% for message in messages %}
                                <div class="{{ type }}">
                                    {{ message|trans({}, 'FOSUserBundle') }}
                                </div>
                            {% endfor %}
                        {% endfor %}

                        {% block content %}{% endblock %}
                    </div>
                {% else %}
                    <a class="btn btn-primary btn-lg" href="{{ path('fos_user_security_login') }}">Log in using Github</a>
                {% endif %}
            </div>

            <footer>
                <p>Git-Trumpet &copy; {{ 'now'|date('Y') }}</p>
            </footer>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="{{ asset('bundles/app/js/script.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
